.footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: white;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #639FE7;
  font-weight: bold;
}
